a.btn,
.btn {
  padding: $button-padding;
  width: $button-width;
  border-radius: $button-border-radius;
  border: $button-border;
}

a.btn-block,
.btn-block {
  width: $button-width-block;
}

@each $color, $value in $theme-colors {
  .btn-#{$color} {
    background-color: $value;
  }
  .btn-#{$color}:hover {
    
    background-color: rgba($color: $value, $alpha: $button-transparent);
  }
}
