$border-width: 2px;
@each $color, $value in $theme-colors {
  .bg-#{$color} {
    background-color: $value;
  }
  .btn-#{$color} {
    background-color: $value;
    box-shadow: 4px 5px 5px $black;
  }
  .btn-#{$color}:hover {
    background-color: rgba($color: $value, $alpha: 0.5);
  }

  .text-#{$color} {
    color: $value;
  }
  .border-#{$color} {
    border: $border-width solid $value !important;
  }

  .border-left-#{$color} {
    border-left: $border-width solid $value !important;
  }
  .border-bottom-#{$color} {
    border-bottom: $border-width solid $value !important;
  }
  .border-top-#{$color} {
    border-top: $border-width solid $value !important;
  }
  .border-right-#{$color} {
    border-right: $border-width solid $value !important;
  }
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-justify{
  text-align: justify;
}