.text-justify{
 text-align: justify;   
}
.text-center{
 text-align: center;   
}
.text-left{
 text-align: left;   
}
.text-right{
 text-align: right;   
}

.errorForm{
    border: 2px solid $danger !important;
}

.msg-error{
    margin-top: 5px;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 5px;
}