.form{
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 1rem 1rem;
    .form-group{
        margin-top: 10px;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        label{
            text-align: left;
            margin-bottom: 5px;
        }
        input{
            padding: 0.5rem;
            border-radius: 1rem;
      border: none;
        }
        textarea{
            padding: 1rem;
        }
        
    }
    .form-send{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        margin-top: 20px;
    }
}
